.footer{
    background-color: var(--black-color);
    padding: 2rem 4rem;
}
.footer__container{
    display: flex;
    flex-direction: column;
}

.footer__main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid grey;
}

.footer__left h2, .footer__right h2 {
    font-size: 1.5rem;
    color: #dcdbdb;
    font-family: 'Poppins', sans-serif;
}

.footer__left{
    width: 50%;
}
.footer__left p{
    color: white;
    margin-top: 0.5rem;
}

.footer__right{
    width: 20%;
}

.footer_right-link{
    padding: 10px 0;
}
.footer_right-link a{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 10px;
    cursor: pointer;
}
.footer_right-link a img{
    width: 30px;
    aspect-ratio: 1;
}

.footer_copyright{
    text-align: center;
    margin-top: 1rem;
}
.footer_copyright span{
    color: var(--white-color);
}

.footer_copyright a{
    color: var(--white-color);
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 991px){
    .footer{
        padding: 1rem 2rem;
    }
    .footer__main{
        flex-direction: column;
    }
    .footer__left, .footer__right{
        width: 100%;
    }
    .footer__right h2{
        margin-top: 1.5rem;
    }
    
}

@media (max-width: 655px){
    .footer{
        padding: 1rem 1rem;
    }
    .footer_copyright span{
        font-size: 0.8rem;
    }
    .footer__left h2, .footer__right h2{
        font-size: 1.25rem;
    }
    p{
        font-size: 0.9rem;
    }
    .footer_right-link a img{
        width:25px;
    }
}