body.menu-open {
  overflow: hidden;
}

.header {
  background-color: var(--background-color);
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 40px;
  height: auto;
}

.header__logo-title {
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.header__main {
  display: flex;
  align-items: center;
}

.header__links {
  list-style: none;
  display: flex;
}

.header__link-wrapper {
  margin-right: 25px;
}

.header__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: var(--primary-color);
}

.header__main-ham-menu-cont {
  margin-left: auto;
  cursor: pointer;
  z-index: 1;
}

.header__main-ham-menu,
.header__main-ham-menu-close {
  display: none;
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
}

.header__sm-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  text-align: center;
  overflow: hidden;
  transform: translateX(100%);
  transition: all 0.75s ease-in-out;
}
.header__sm-menu-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

.header__sm-menu-link {
  padding: 10px 0;
}
.header__sm-menu-link a {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
}
.header__sm-menu-links .menu__icons img {
  margin: 10px 15px;
  width: 40px;
  aspect-ratio: 1;
}

.header__sm-menu.show {
  transform: translateX(0);
}

.hide {
  display: none;
}

/* Media queries for responsive design */
@media (max-width: 991px) {
  .header__main{
    display: flex;
    flex-direction: row-reverse;
  }

  .header__links {
    display: none;
  }

  .header__sm-menu {
    display: block;
  }

  .header__sm-menu-links {
    list-style: none;
  }

  .header__sm-menu-link {
    margin-bottom: 10px;
  }

  .header__main-ham-menu,
  .header__main-ham-menu-close {
    display: block;
  }

  .hide {
    display: none;
  }

  .theme__toggle{
    margin-right: 10px;
  }
}

@media (max-width: 655px) {
  .header__logo-img {
    width: 30px;
    height: auto;
  }

  .header__logo-title {
    font-family: "Poppins", sans-serif;
    margin-left: 15px;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
@media (max-width: 456px) {
  .header__logo-title {
    display: none;
  }
}

/* Theme Toggle Styling */
.theme__toggle{
  position: relative;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #888888;
  width: 50px;
  height: 24px;
  border-radius: 45px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label img{
  width: 17px;
  aspect-ratio: 1;
}

.checkbox-label .ball {
  background-color: var(--background-color);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(26px);
}
