.projects {
    width: 100%;
    padding: 1.5rem 4rem;
    text-align: left;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
  }
  .projects__container{
    max-width: 1600px;
  }
  
  .projects__title {
    margin-top: 2rem;
    text-align: left;
  }
  .projects__title span{
    color: var(--primary-color);
  }
  .projects__title h2 {
    margin-top: 0.25rem;
    font-size: 2rem;
  }

  .projects__lists{
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }


.projects__cta {
  padding-top: 2.75rem;
  padding-left: 0.3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.projects__cta a {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.6rem 5rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 0.2rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.projects__cta a:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}

  @media (min-width: 1601px){
    .projects__lists{
      gap: 2.5rem;
    }
  }

  @media (max-width: 991px){
    .projects {
      padding: 1.5rem 2.5rem;
    }

    .projects__title h2 {
      margin-top: 0.5rem;
      font-size: 1.75rem;
    }

    .projects__lists{
    margin-top: 1.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (max-width: 655px){
    .projects {
      padding: 1.5rem 1rem;
    }

    .projects__title h2 {
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }

    .projects__lists{
      margin-top: 1.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }